body {
  padding : 20px; 
  margin : 20px auto; 
  max-width : 500px;
  background : #1a1a1a; 
  color : #e0e0e0;
  font : small Optima, Candara, "Gill Sans", "Gill Sans MT",
               Calibri, "Source Sans Pro", "Trebuchet MS", 
               sans-serif;
}

a              { color : #ffb86c; text-decoration : none; }

nav, h1, h2, h3, p { text-transform : lowercase; }
.up                { text-transform : uppercase; }
h1                 { margin-top : 0; }

h2, th { border-bottom : 1px solid #555; }
hr     { border : 0;
         border-top : 1px solid #555; }

table                      { border-collapse : collapse;
                             width : 100%; }
th, td                     { padding : 3px 8px; }
table.news td:nth-child(2) { color : #888;
                             text-align : center;
                             width : 25px; }
table.news td:nth-child(3) { width : 100%; text-align : left; }

nav { display : flex;
      flex-wrap : wrap;
      gap : 8px;
      justify-content : space-between;
      margin-bottom : 5px; }
