body { 
  font-family:   "PT Sans", Calibri, Tahoma, Sans-Serif;
  padding: 10px;
  line-height: 20px;
}
h1 { font-weight: bold; color: #CC0000;}
h2 { font-weight: bold; color: #CC0000;}
xb { color: #CC0000;}

a { font-weight: bold; color: #CC0000; }
